	<div class="col-lg-6 col-md-6 col-sm-12">
		<p>"I like smiling. Smiling's my favorite." -Buddy the Elf </p>
		<p>Are you too friendly? Do you have a hard time getting what you want?</p>
		<p>Need one of America's best college basketball coaches to keep you motivated? Stare you down? Make you (or someone who intimidates you) want to cry?</p>
    	<p>Introducing the Izzo Mini Me, a product designed to scare you into making your free throws, intimdating the kids who steal your lunch money, or convincing your mom to send money for "groceries".</p>
    	<p>*Smiling not guaranteed*</p>
  	</div>
    <div class="col-lg-6 col-md-6 col-sm-12">
			<img src="img/izzo.jpg">
  	</div>
