<!DOCTYPE html>
<html>
	<head>
		<title>Mini Me</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<p>"I like smiling. Smiling's my favorite." -Buddy the Elf </p>
		<p>Are you too friendly? Do you have a hard time getting what you want?</p>
		<p>Need one of America's best college basketball coaches to keep you motivated? Stare you down? Make you (or someone who intimidates you) want to cry?</p>
	<div class="pic">
		<img src="img/izzo.jpg">
		<p>*All pictures are my own*</p>
	</div>
		<p>Introducing the Izzo Mini Me, a product designed to scare you into making your free throws, intimdating the kids who steal your lunch money, or convincing your mom to send money for "groceries".</p>
		<p>*Smiling not guaranteed*</p>
	</body>
</html>