<!DOCTYPE html>
<html>
	<head>
		<title>Mini Me</title>
		<link rel="stylesheet" href="css/style.css">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	</head>
	<body>
		<div class="container">
			<div class="col-lg-6 col-md-6 col-sm-12">
		<p>"If you play hard, good things happen to you." -Tom Izzo</p>
		<p>Are you lacking motivation in life? Need a pick me up to keep you motivated and loyal to your workout regimen or homework routine?</p>
		<p>Introducing the Izzo Mini Me</p>
		<p>Designed to push you to your limits, test boundaries, and make you the athlete/student/person you want to become. Pick up yours today!</p>
		<p>No, we don't exactly know what it is either...</p>
		</div>
	<div class="pic">
		<div class="col-lg-6 col-md-6 col-sm-12">
		<img src="img/valentine.jpg">
	</div>
	</div>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>