	<div class="col-lg-6 col-md-6 col-sm-12">
		<p>"It's like having a personal trainer. Except, he's 5'9", and one of the most feared men on the planet." - Some kid we interviewed at IM West</p>
		<p>Do you need more MSU basketball in your life?</p>
		<p>Does your social life come before school? Are your priorities not in order?</p>
		<p>Introducing the Izzo Mini Me. A product designed to model one the nation's best basketball coaches rules, tactics, and overall fierceness to keep you motivated to get your work done.</p>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-12">
		<img src="img/dawsondunk.jpg">
	</div>
