<!DOCTYPE html>
<html>
	<head>
		<title>Mini Me</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<p>"If you play hard, good things happen to you." -Tom Izzo</p>
		<p>Are you lacking motivation in life? Need a pick me up to keep you motivated and loyal to your workout regimen or homework routine?</p>
	<div class="pic">
		<img src="img/valentine.jpg">
		<p>*all pictures are my own*</p>
	</div>
		<p>Introducing the Izzo Mini Me</p>
		<p>Designed to push you to your limits, test boundaries, and make you the athlete/student/person you want to become. Pick up yours today!</p>
		<p>No, we don't exactly know what it is either...</p>
	</body>
</html>