body{
	background: #00004C;
}
h1{
	color: #fff;
	text-align:center;
	font-family: georgia;
	font-size: 30px;
	background: #007A99;
	padding-top:20px;
	padding-bottom: 20px;
	border-radius: 35px;
	margin-left: 20px;
	margin-right: 20px;
}
h2{
	color: #fff;
	font-family:georgia;
	font-size:24px;
	padding-left: 40px;
	background: #007A99;
	padding:10px;
	border-radius:35px;
	margin-left: 200px;
	margin-right: 200px;
}
ul{
	text-align:left;
	font-family: georgia;
	color: #007A99;
	font-size: 18px;
	float: center;
}
li{
	list-style-type:none;
	text-align: left;
}
button{
	background: #007A99;
	font-family: georgia;
	color: #fff;
	border-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 24px;
	border-style: solid;
}
.form-group{
	position:inline;
}
.results{
	text-align:center;
}