body{
	background: #00004C;
}
h1{
	color: #fff;
	text-align:center;
	font-family: georgia;
	font-size: 30px;
	background: #007A99;
	padding-top:20px;
	padding-bottom: 20px;
	border-radius: 35px;
	margin-left: 20px;
	margin-right: 20px;
}
h2{
	color: #fff;
	font-family:georgia;
	font-size:24px;
	padding-left: 40px;
}
ul{
	text-align:left;
	font-family: georgia;
	color: #007A99;
	font-size: 18px;
	float: center;
}